<p>Universidade Estadual de Feira de Santana <br>
Discente: Anésio Neto  <br>
EXA 864 Mineração de Dados  <br>
Angelo Loula</p>

<h2 style="text-align: center;">Atividade Computacional - Análise de Dados</h2>

<h4>0: Coisas a fazer antes de reponder as questões</h4>

https://onlinemathtools.com/find-all-divisors

In [2]:
import pandas as pd
import psutil

<li>Quanto de memória tenho disponivel (<code>em bytes</code>):</li>

In [4]:
svmem = psutil.virtual_memory()
print(svmem.available)

545615872

<li>Quanto come cada chunk:</li>

In [34]:
enemdf_sample = pd.read_csv('./MICRODADOS_ENEM_2022.csv', nrows=10, encoding='cp1252', delimiter=';')
enemdf_sample_size = enemdf_sample.memory_usage(index=True).sum()
print (enemdf_sample_size)

6208

In [14]:
print((enemdf_sample_size/svmem.available)*100)

16.841556984617924

In [35]:
# define a chunksize that would occupy a maximum of 1Gb
# we divide by 10 because we have selected 10 lines in our df_sample
my_chunk = (1000000000 / enemdf_sample_size)/10
my_chunk = int(my_chunk//1)
print (my_chunk)

16108

In [ ]:

for chunk in pd.read_csv('./MICRODADOS_ENEM_2022.csv', chunksize=151135, encoding='cp1252', delimiter=';'):
    # concatenate according to a filter to our result dataframe
    bahiadf_result = pd.concat([chunk[chunk['CO_MUNICIPIO_PROVA'].astype(str).str.startswith('29')]])
bahiadf_result.to_csv('bahia.csv', index=False)

In [5]:
a = pd.read_csv('./bahia.csv')
a

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210055269658,2022,2,M,1,2,1,3,0,1,...,B,A,B,B,A,A,D,A,B,B
1,210055302655,2022,1,F,1,1,1,3,0,1,...,B,A,A,B,A,A,E,A,A,B
2,210055404863,2022,4,M,1,2,1,2,0,2,...,A,A,A,B,A,A,B,A,A,B
3,210055197499,2022,2,F,1,1,1,2,0,2,...,A,A,A,B,A,A,C,A,A,B
4,210057119251,2022,1,M,1,2,1,3,0,1,...,A,A,A,B,A,A,C,A,A,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11145,210057957025,2022,4,F,1,3,1,2,0,2,...,A,A,A,B,B,A,C,A,A,B
11146,210054731881,2022,1,M,1,3,1,2,0,3,...,B,A,A,B,A,A,C,A,B,B
11147,210057312040,2022,2,F,1,3,1,2,0,2,...,A,A,A,B,A,A,D,A,B,B
11148,210057513509,2022,6,M,1,0,1,1,1,1,...,A,A,A,B,A,A,C,A,A,B
11149,210054829833,2022,14,M,1,1,1,1,16,1,...,B,A,B,A,A,A,B,A,B,B

<h4><span>1</span>: Filtragem e amostragem dos dados</h4>

COMO CONSEGUI CONHECER OS DADOS RELACIONADOS À QUESTÃO:


<p>-------------------Regiões do Brasil----------------
 <ol>
    <li>NORTE</li>
    <li>NORDESTE</li>
    <li>SUDESTE</li>
    <li>SUL</li>
    <li>CENTRO-OESTE</li>
 </ol>
</p>
<p>-------------------Estados do Nordeste----------------
    <ol start="21">
       <li>MARANHÃO</li>
       <li>PIAUÍ</li>
       <li>CEARÁ</li>
       <li>RIO GRANDE DO NORTE</li>
       <li>PARAÍBA</li>
       <li>PERNAMBUCO</li>
       <li>ALAGOAS</li>
       <li>SERGIPE</li>
       <li>BAHIA</li>
    </ol>
</p>
<p>
-------------------Cidades Escolhidas----------------
 <ol>
  <li>FEIRA DE SANTANA-2910800</li>
 </ol>
</p>

In [ ]:
bahia_df = enemdf[enemdf['CO_MUNICIPIO_PROVA'].astype(str).str.startswith('29')]

#feira_df = bahia_df[bahia_df['CO_MUNICIPIO_PROVA'].astype(str).str.startswith('29108')]
bahia_df["NO_MUNICIPIO_PROVA"].unique()

In [ ]:

#os.path.getsize('./MICRODADOS_ENEM_2022.csv') 

chunksize = 1000
#Return the memory usage of each column in bytes.
enemdf_size = enemdf.memory_usage(index=True).sum() 

my_chunk = (1000000000 / enemdf_size)/250 
my_chunk = int(my_chunk//1)


# create the iterator
iter_csv = pd.read_csv(
    './MICRODADOS_ENEM_2022.csv', 
    iterator=True, 
    chunksize=my_chunk,
    encoding='cp1252',
    delimiter=';')

# concatenate according to a filter to our result dataframe
df_result = pd.concat(
    [chunk[chunk['NO_MUNICIPIO_PROVA'].str.lower().str.startswith("boa vista")]
    for chunk in iter_csv])

#enemdf["NO_MUNICIPIO_PROVA"].unique()
#filtered_df = enemdf[enemdf['CO_MUNICIPIO_PROVA'] == 2919207]
#filtered_df[["CO_MUNICIPIO_PROVA", "NO_MUNICIPIO_PROVA"]]
#filtered_df = enemdf[enemdf['CO_MUNICIPIO_PROVA'].astype(str).str.startswith('29')]