<p>Universidade Estadual de Feira de Santana <br>
Discente: Anésio Neto  <br>
EXA 864 Mineração de Dados  <br>
Angelo Loula</p>

<h2 style="text-align: center;">Atividade Computacional - Análise de Dados</h2>

<h4>0: Coisas a fazer antes de reponder as questões</h4>

https://onlinemathtools.com/find-all-divisors

In [1]:
import pandas as pd
import psutil

<li>Quanto de memória tenho disponivel (<code>em bytes</code>):</li>

In [4]:
svmem = psutil.virtual_memory()
print(svmem.available)

545615872

<li>Quanto come cada chunk:</li>

In [34]:
enemdf_sample = pd.read_csv('./MICRODADOS_ENEM_2022.csv', nrows=10, encoding='cp1252', delimiter=';')
enemdf_sample_size = enemdf_sample.memory_usage(index=True).sum()
print (enemdf_sample_size)

6208

In [14]:
print((enemdf_sample_size/svmem.available)*100)

16.841556984617924

In [35]:
# define a chunksize that would occupy a maximum of 1Gb
# we divide by 10 because we have selected 10 lines in our df_sample
my_chunk = (1000000000 / enemdf_sample_size)/10
my_chunk = int(my_chunk//1)
print (my_chunk)

16108

https://g1.globo.com/ba/bahia/noticia/2023/06/28/censo-2022-bahia-mantem-4a-maior-populacao-do-pais-mas-cresce-abaixo-da-media-nacional.ghtml

https://oglobo.globo.com/brasil/sao-paulo/noticia/2023/06/censo-2022-veja-a-lista-das-10-maiores-e-menores-cidades-de-sao-paulo.ghtml

In [8]:
"""
-------------------Cidades Escolhidas----------------
2910800 - Feira de Santana
2933307 - Vitória da Conquista
2905701 - Camaçari
2918407 - Juazeiro
2919207 - Lauro de Freitas
2914802 - Itabuna
2913606 - Ilhéus
2925303 - Porto Seguro

3552205 - Sorocaba
3534401 - Osasco
3543402 - Ribeirão Preto
3549805 - São José do Rio Preto
3549904 - São José dos Campos
-------------------Estados do Sudeste----------------
31 - Minas Gerais
32 - Vila Velha
33 - Rio de Janeiro
35 - São Paulo

"""
i = 0
amgResultList = []
for chunk in pd.read_csv('./MICRODADOS_ENEM_2022.csv', chunksize=151135, encoding='cp1252', delimiter=';'):
    # concatenate according to a filter to our result dataframe
    
    municipios = [2910800, 2933307, 2905701, 2918407, 2919207, 2914802, 2913606, 2925303, 3552205, 3534401, 3543402, 3549805, 3549904] 
    processed_chunk = chunk[chunk['CO_MUNICIPIO_PROVA'].isin(municipios)]
    amgResultList.append(processed_chunk)
    i+=1

result_df = pd.concat(amgResultList, axis=0)
result_df.to_csv('dataset.csv', index=False)
print('was %d times.'%i)

was 23 times.

In [9]:
d = pd.read_csv('./dataset.csv')
d

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210056338475,2022,8,F,1,3,1,1,5,1,...,A,A,A,B,A,A,B,A,A,B
1,210054520678,2022,13,F,1,1,1,1,16,1,...,A,A,A,B,A,A,D,A,A,B
2,210055912526,2022,5,F,1,1,2,1,3,1,...,A,A,A,B,B,A,C,A,A,B
3,210057733491,2022,6,F,1,3,1,1,4,1,...,A,A,A,B,A,A,C,A,A,B
4,210055896495,2022,7,M,2,2,1,1,4,1,...,B,A,A,B,A,B,B,A,A,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103469,210056971899,2022,12,M,1,3,1,1,16,1,...,B,A,A,C,A,B,C,A,A,B
103470,210055446980,2022,5,F,1,2,1,2,0,2,...,A,A,A,B,A,A,A,A,B,B
103471,210056808037,2022,9,M,1,2,1,1,0,1,...,A,A,A,B,A,A,B,B,A,B
103472,210055390251,2022,2,F,1,3,1,2,0,2,...,A,A,A,B,A,A,B,A,A,B
103473,210054829833,2022,14,M,1,1,1,1,16,1,...,B,A,B,A,A,A,B,A,B,B

In [3]:
dataset = pd.read_csv('./MICRODADOS_ENEM_2022.csv', encoding='cp1252', nrows=100000, delimiter=';')

In [ ]:
municipios = [2910800, 2933307, 2905701, 2918407, 2919207, 2914802, 2913606, 2925303, 3543402] 
df_filtrado = dataset[dataset['CO_MUNICIPIO_PROVA'].isin(municipios)]
df_filtrado

In [7]:
#filtered = dataset[dataset['NO_MUNICIPIO_PROVA'] == 'Salvador']
filtered = dataset[dataset['CO_MUNICIPIO_PROVA'].astype(str).str.startswith('35')]
filtered['NO_MUNICIPIO_PROVA'].unique()
filtered[filtered['NO_MUNICIPIO_PROVA'] == "Osasco"]['CO_MUNICIPIO_PROVA']

115      3534401
925      3534401
2533     3534401
2667     3534401
2794     3534401
          ...
96594    3534401
97777    3534401
98144    3534401
98830    3534401
99887    3534401
Name: CO_MUNICIPIO_PROVA, Length: 244, dtype: int64

<h4><span>1</span>: Filtragem e amostragem dos dados</h4>

COMO CONSEGUI CONHECER OS DADOS RELACIONADOS À QUESTÃO:


<p>-------------------Regiões do Brasil----------------
 <ol>
    <li>NORTE</li>
    <li>NORDESTE</li>
    <li>SUDESTE</li>
    <li>SUL</li>
    <li>CENTRO-OESTE</li>
 </ol>
</p>
<p>-------------------Estados do Nordeste----------------
    <ol start="21">
       <li>MARANHÃO</li>
       <li>PIAUÍ</li>
       <li>CEARÁ</li>
       <li>RIO GRANDE DO NORTE</li>
       <li>PARAÍBA</li>
       <li>PERNAMBUCO</li>
       <li>ALAGOAS</li>
       <li>SERGIPE</li>
       <li>BAHIA</li>
    </ol>
</p>